fastapi
uvicorn
sqlalchemy
psycopg2-binary
alembic
pydantic
python-dotenv
python-jose
pyjwt
passlib
bcrypt
python-multipart
celery
redis
httpx
pika
scikit-learn
numpy
scipy
pytest
jinja2
weasyprint
plaid-python
matplotlib
mailjet-rest
firebase-admin
